*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#191f36 ;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
     background-color: #131936;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 222;
    font-family: 'ubuntu';
}
.logo-hide{
    display: none;
}
.logo{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20%;
   font-size: 31px;
}
.nav-list{
    display: flex;
    width: 76%;
    align-items: center;
    justify-content: right;
    
}

.nav-list li{
    list-style: none;
    padding: 0px 20px;
}
.nav-list li a{
    text-decoration: none;
    font-size: 19px;
    color: #fff;
}
.nav-list li a:hover{
    color: rgb(125, 192, 215);
    color: rgb(45, 134, 164);
}
.nav-social-icons{
    display: none;
}

/* .openmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    display: none;
}  */


.home{
    height: 100vh;
}
.home-content{
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    margin: auto;
}
.firsthalf{
    width: 70%;
}
.text h1{
    font-size: 30px;
    font-weight: 600;
}
.text h3{
    font-weight: 500;
}
 span{
   color: rgb(66, 145, 171);
}
.text p{
   margin: 5px 0px;
   text-align: justify;
}
.social-icons{
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px 0px;
}
.social-icons i{
    padding: 3px 10px 3px 0px;
    font-size: 24px;
    color:rgb(66, 145, 171);
}

.fa-facebook:hover{
    color: rgb(0,110,255);
}
.fa-linkedin:hover{
    color: rgb(86,154,243);
}
.fa-instagram:hover{
    color: rgb(255,0,191);
}
.fa-youtube:hover{
    color:  #CD201F;
}
.btn{
        list-style: none;
        text-decoration: none;
        color: black;
        background-color: rgb(86, 154, 243);
        padding: 7px 12px;
        border-radius: 18px;
        justify-content: center;
        text-align: center;
        font-weight: 500;
        width: 60px;
}
.btn:hover{
    background-color: rgb(44, 107, 190);
}

.secondhalf{
    margin-top: 30px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.secondhalf img{
    z-index: 10;
    width: 70%;
    border-radius: 130px;
    animation: floatImage 4s ease-in-out infinite;

}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1rem);
    }
    100%{
        transform: translateY(0);
    }

}
.about-sec{
    background: #262840 ;
    /* height: 500px; */
    /* display: flex; */
}
.about{
    display: flex;
    max-width: 80%;
    margin:0px  auto;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.about-img{
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
    /* margin-bottom: 200px; */
}
.about-img img{
    height: 250px;
    width: 240px;
    border-radius: 20px;
    border: 2px solid  #3994b2;
}
.about-content{
    width: 70%;
    margin-left: 50px;
}
.about-content h2{
    font-size: 28px;
}
.about-content h2,h3{
    font-weight: 500;
}
.about-content p{
    text-align: justify;
   margin-top: 7px;
   margin-bottom: 20px;
   padding-bottom: 10px;
}
.skills{
    margin: 0px auto;
    width: 70%;
    padding-top: 30px;
    padding-bottom: 90px;
}

.skill-content{
    width: 75%;
    margin: auto;
    background: #262c42;
    padding: 20px;
    border-radius: 20px;
}
.skills h2{
    margin-bottom: 10px;
    text-align: center;
}
.skills li{
    list-style: none;
    margin:5px  0px;
    padding: 2px 0px;
   
}
.bar{
    height: 22px;
    width: 100%;
    border: 2px solid  #3994b2;
    display: block;
    border-radius: 10px;
    margin: 10px 0px;
    overflow: hidden;
}
.bar span{
    display: block;
    height: 22px;
    float: left;
    background: #08113e;
    font-size: 15px;
    text-align: right;
    /* font-weight: 500; */
    color: #535657;
}
.html{
    width: 80%;
}
.css{
    width: 60%;
}
.java{
    width: 40%;
}
.sql{
    width: 70%;
}
.c{
    width: 90%;
}
.c-sharp{
    width: 60%;
}

.services {
padding-bottom: 80px;
}
.service {
font-weight: 500;
margin: 30px 75px;
text-align: center;
}

.services-container{
    /* border: 2px solid black; */
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 270px;
    /* background: blanchedalmond; */
    margin: 2px 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 25px  10px;
    border-radius: 10px;
    background: #262840 ;
}
.box:hover{
     border: 2px solid  #3994b2;
}

.web-symbol img{
width: 60px;
cursor: pointer;
border-radius: 50px;
}
.feild-content{
    text-align: justify;
    padding: 10px 5px;
}
.services-btn{
    margin-top: 10px;
    width: 110px;
}

.portfolio{
    padding-top: 40px;
  width: 88%;
  margin: 20px auto;
  padding-bottom: 70px;
}
.latest-project {
text-align: center;
padding-top: 10px;
}
.portfolio-content{
    padding-top:40px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 270px;
    height: 200px;
    /* border: 2px solid  #3994b2; */
    margin: 5px 10px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    /* padding-left: 10px; */
    background-blend-mode: darken;
}
.container h2,p{
    text-align: center;
}
.container1{
    background:url(img3.jpg);
}

.container2{
    background: url(img2.jpg);
}
.container3{
    background: url(img1.jpg);
}

.first{
    padding-top:15px ;
    display: none;
}
@media only screen and (max-width:2000px){
    .container:hover{
        .first{
            display: block;
        }
    }
        .container1:hover{
            background:url('img3.jpg'), rgb(43, 41, 41);
        }
        .container2:hover{
            background:url('img2.jpg'), rgb(58, 54, 54);
        }
        .container3:hover{
            background:url('img1.jpg'), rgb(58, 54, 54);
        }
      
    }

.first li{
    list-style: none;
    border: 2px solid #3994b2;
    border-radius: 39px;
    padding: 3px 10px;
    margin: 8px 60px;
    width: 36px;
    cursor: pointer;
}
.first li a{
    text-decoration: none;
    color:#3994b2;
    font-size: 20px;
}
.first li:hover{
    border: 2px solid blue;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #262840 ;
    border-radius: 10px;
}
footer p{
    width: 90%;
    text-align: left;
    padding: 0px 10px;
}
footer li{
    list-style: none;
}
footer li a{
    color:  #3994b2;
    text-decoration: none;
    font-size: 50px;
    cursor: pointer;
    font-weight: 900;
    padding-right: 15px;
}

/* hamburger */
.burger{
    position: absolute;
    top: 10px;
    right: 5%;
    overflow: hidden;
    display: none;
}
.line{
    width: 36px;
    height: 3px;
    margin: 7px 3px;
    color: white;
    background-color: white;
}


/* media queries */

@media only screen and (max-width:900px){
    .navbar{
        justify-content: center;
        transition: all 0.3s ease-in;
        height: 100vh;
    }
    .logo{
        align-items: start;
         width: 40%;
         justify-content: left;
       
    }
   
    .nav-list{
        margin-top: 30px;
        flex-direction: column;
        width: 48%;
        /* transition: all 0.3s ease-in; */
    }
    .nav-list li{
        padding: 13px 0px;
    }
    .nav-list li a{
        font-size: 23px ;
    }
    .nav-list li a:hover{
        font-size: 25px ;
    }
    .nav-social-icons{
        display: block;
        width: 165px;
    }
    .visibility{
        display:none;
    }
    .h-nav{
        height: 55px;
        justify-content: left;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
   

    .home{
        margin-top: 15px;
        margin-bottom: 35px;
    }
    .home-content{
        flex-direction: column-reverse;
        height: 100%;
        /* padding-top: 20px; */
        max-width: 88%;
    }
    .firsthalf{
        width: 100%;
    }
    .secondhalf{
        /* padding-top: 30px; */
        margin-bottom: 25px;
        width: 200px;
    }
    .secondhalf img{
       width: 92%;
    }
    .social-icons{
        text-align: center;
        padding-top: 15px;
    }
    .cv{
        text-align: center;
    }


    .about{
        max-width: 88%;
        flex-direction: column;
        height: 100%;
    }
    .about-content {
        width: 100%;
        margin-left: 0px;
    }
    .about-img{
        margin-bottom: 50px;
    }
    .about-img img{
       height: 275px;
       width: 260px;
    }
    .readmore{
        text-align: center;
    }
    .skills{
        width: 100%;
    }
    .skill-content{
        width: 88%;
    }
    .services{
        margin-top: 20px;
    }
    .services-btn{
        width: 120px;
    }
    .services-container{
        flex-direction: column;
    }
    .box{
        margin-bottom: 40px;
    }
    .portfolio-content{
        flex-direction: column;
    }
    .container{
        margin-bottom: 30px;
    } 
    .latest-project {
        padding-top: 25px;
    }
}

@media only screen and (max-width:300px){
    .home{
        margin-top: 40px;
        margin-bottom: 60px;
    }
}
